In [347]:
# Para trabajar con regex
# -----------------------------------------------------------------------
import re

# Para trabajar con ficheros
# -----------------------------------------------------------------------
import os


# Para trabajar con los DataFrames
# -----------------------------------------------------------------------
import pandas as pd

# Para poner barras progreso
# -----------------------------------------------------------------------
from tqdm import tqdm



# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Ignorar warings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Librerias para generar gráficas
# ----------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

In [348]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\administrador\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\administrador\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

### Cargamos los archivos xlsx de paro por municipios y leemos los datos que nos interesan

In [349]:
file_path_new = "datos/estadistica_paro_municipios.xlsx"
excel_data_new = pd.ExcelFile(file_path_new)
excel_data_new.sheet_names

['PORTADA',
 'Indice',
 'PARO A CORUÑA',
 'CONTRATOS CORUÑA',
 'PARO ALBACETE',
 'CONTRATOS ALBACETE',
 'PARO ALICANTE',
 'CONTRATOS ALICANTE',
 'PARO ALMERIA',
 'CONTRATOS ALMERIA',
 'PARO ALAVA',
 'CONTRATOS ARABA',
 'PARO ASTURIAS',
 'CONTRATOS ASTURIAS',
 'PARO AVILA',
 'CONTRATOS AVILA',
 'PARO BADAJOZ',
 'CONTRATOS BADAJOZ',
 'PARO BARCELONA',
 'CONTRATOS BARCELONA',
 'PARO BIZKAIA',
 'CONTRATOS BIZKAIA',
 'PARO BURGOS',
 'CONTRATOS BURGOS',
 'PARO CACERES',
 'CONTRATOS CACERES',
 'PARO CADIZ',
 'CONTRATOS CADIZ',
 'PARO CANTABRIA',
 'CONTRATOS CANTABRIA',
 'PARO CASTELLON',
 'CONTRATOS CASTELLON',
 'PARO CEUTA',
 'CONTRATOS CEUTA',
 'PARO CIUDAD REAL',
 'CONTRATOS CIUDAD REAL',
 'PARO CORDOBA',
 'CONTRATOS CORDOBA',
 'PARO CUENCA',
 'CONTRATOS CUENCA',
 'PARO GIPUZCOA',
 'CONTRATOS GIPUZCOA',
 'PARO GIRONA',
 'CONTRATOS GIRONA',
 'PARO GRANADA',
 'CONTRATOS GRANADA',
 'PARO GUADALAJARA',
 'CONTRATOS GUADALAJARA',
 'PARO HUELVA',
 'CONTRATOS HUELVA',
 'PARO HUESCA',
 'CONTRATOS HUESCA',
 'PARO BALEARES',
 'CONTRATOS BALEARES',
 'PARO JAEN',
 'CONTRATOS JAEN',
 'PARO LA RIOJA',
 'CONTRATOS LA RIOJA',
 'PARO LAS PALMAS',
 'CONTRATOS LAS PALMAS',
 'PARO LEON',
 'CONTRATOS LEON',
 'PARO LLEIDA',
 'CONTRATOS LLEIDA',
 'PARO LUGO',
 'CONTRTOS LUGO',
 'PARO MADRID',
 'CONTRATOS MADRID',
 'PARO MALAGA',
 'CONTRATOS MALAGA',
 'PARO MELILLA',
 'CONTRATOS MELILLA',
 'PARO MURCIA',
 'CONTRATOS MURCIA',
 'PARO NAVARRA',
 'CONTRATOS NAVARRA',
 'PARO OURENSE',
 'CONTRATOS OURENSE',
 'PARO PALENCIA',
 'CONTRATOS PALENCIA',
 'PARO PONTEVEDRA',
 'CONTRATOS PONTEVEDRA',
 'PARO SALAMANCA',
 'CONTRATOS SALAMANCA',
 'PARO SEGOVIA',
 'CONTRATOS SEGOVIA',
 'PARO SEVILLA',
 'CONTRATOS SEVILLA',
 'PARO SORIA',
 'CONTRATOS SORIA',
 'PARO STA CRUZ TENER.',
 'CONTRATOS STA. CRUZ TENER.',
 'PARO TARRAGONA',
 'CONTRATOS TARRAGONA',
 'PARO TERUEL',
 'CONTRATOS TERUEL',
 'PARO TOLEDO',
 'CONTRATOS TOLEDO',
 'PARO VALENCIA',
 'CONTRATOS VALENCIA',
 'PARO VALLADOLID',
 'CONTRATOS VALLADOLID',
 'PARO ZAMORA',
 'CONTRATOS ZAMORA',
 'PARO ZARAGOZA',
 'CONTRATOS ZARAGOZA',
 'NO CONSTA MUNIC.']

In [350]:
"""
# Cargar la hoja "PARO ALBACETE" en un DataFrame
df_paro_albacete = pd.read_excel(file_path_new, sheet_name="PARO ALBACETE")

# Mostrar las primeras filas del DataFrame para revisión
df_paro_albacete.head()
"""

'\n# Cargar la hoja "PARO ALBACETE" en un DataFrame\ndf_paro_albacete = pd.read_excel(file_path_new, sheet_name="PARO ALBACETE")\n\n# Mostrar las primeras filas del DataFrame para revisión\ndf_paro_albacete.head()\n'

In [351]:
# Limpiar el DataFrame eliminando filas vacías y reestableciendo los encabezados
df_paro_albacete_cleaned = pd.read_excel(file_path_new, sheet_name="PARO ALBACETE", header=4)

# Mostrar las primeras filas para verificar la estructura después de limpiar
df_paro_albacete_cleaned.head()

,Unnamed: 0,MUNICIPIOS,TOTAL,SEXO Y EDAD,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,SECTORES,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,HOMBRES,NaN,NaN,MUJERES,NaN,NaN,AGRI- CULTURA,INDUS- TRIA,CONS- TRUCCIÓN,SERVICIOS,SIN EMPLEO ANTERIOR
1,NaN,NaN,NaN,<25,25 - 44,>=45,<25,25 - 44,>=45,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001.0,ABENGIBRE,28,,<5,8,<5,5,10,<5,<5,<5,20,<5
4,2002.0,ALATOZ,39,<5,<5,11,<5,8,15,<5,<5,8,26,<5

In [352]:
# Unificar encabezados para simplificar la estructura
df_paro_albacete_cleaned.columns = [
    "Código", "Municipios", "Total", "Hombres <25", "Hombres 25-44", "Hombres >=45",
    "Mujeres <25", "Mujeres 25-44", "Mujeres >=45", "Agricultura", "Industria",
    "Construcción", "Servicios", "Sin Empleo Anterior"
]

# Eliminar filas con datos no relacionados (encabezados adicionales, NaN innecesarios)
df_paro_albacete_cleaned = df_paro_albacete_cleaned.dropna(subset=["Municipios"]).reset_index(drop=True)

df_paro_albacete_cleaned.head()

,Código,Municipios,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
0,2001.0,ABENGIBRE,28,,<5,8,<5,5,10,<5,<5,<5,20,<5
1,2002.0,ALATOZ,39,<5,<5,11,<5,8,15,<5,<5,8,26,<5
2,2003.0,ALBACETE,11185,458,1540,2173,439,2529,4046,517,1008,620,8028,1012
3,2004.0,ALBATANA,63,<5,<5,13,0,18,28,13,5,<5,39,<5
4,2005.0,ALBOREA,58,<5,5,21,<5,10,20,15,6,<5,31,<5

In [353]:
# Crear un diccionario para almacenar los DataFrames de todas las provincias
provinces_data = {}

# Identificar las hojas de interés relacionadas con "PARO"
paro_sheets = [sheet for sheet in excel_data_new.sheet_names if sheet.startswith("PARO")]

# Procesar cada hoja de "PARO" con encabezados
for sheet in paro_sheets:
    # Cargar la hoja correspondiente
    df_sheet = pd.read_excel(file_path_new, sheet_name=sheet, header=4)
    
    # Estandarizar los nombres de las columnas
    df_sheet.columns = [
        "Código", "Municipios", "Total", "Hombres <25", "Hombres 25-44", "Hombres >=45",
        "Mujeres <25", "Mujeres 25-44", "Mujeres >=45", "Agricultura", "Industria",
        "Construcción", "Servicios", "Sin Empleo Anterior"
    ]
    
    # Eliminar filas innecesarias y limpiar el DataFrame
    df_sheet = df_sheet.dropna(subset=["Municipios"]).reset_index(drop=True)
    
    # Guardar el DataFrame procesado en el diccionario
    provinces_data[sheet] = df_sheet

# Mostrar uno de los DataFrames para verificar el proceso
dataframe=provinces_data["PARO ALICANTE"]
dataframe.head()

,Código,Municipios,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
0,3001.0,ADSUBIA,24,<5,5,<5,0,5,10,<5,<5,,21,0
1,3002.0,AGOST,370,14,57,106,11,78,104,42,59,37,205,27
2,3003.0,AGRES,31,<5,5,13,0,5,6,<5,<5,<5,24,
3,3004.0,AIGÜES,70,<5,6,18,0,20,23,,<5,5,57,5
4,3005.0,ALBATERA,948,21,114,176,28,234,375,87,168,55,561,77

In [354]:
# Crear una lista para almacenar los DataFrames con la columna de provincia añadida
combined_data = []

# Iterar por cada provincia en el diccionario
for province, df in provinces_data.items():
    # Extraer el nombre de la provincia del nombre de la hoja
    province_name = province.replace("PARO ", "").strip()
    # Añadir una columna para la provincia
    df["Provincia"] = province_name
    # Añadir el DataFrame a la lista
    combined_data.append(df)

# Combinar todos los DataFrames en uno solo con los datos de paro de todos los municipios
df_paro_municipios = pd.concat(combined_data, ignore_index=True)

# Mostrar el DataFrame combinado
df_paro_municipios.head()

,Código,Municipios,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior,Provincia
0,15001.0,ABEGONDO,198,7,29,47,<5,37,74,8,26,12,139,13,A CORUÑA
1,15002.0,AMES,1487,26,234,338,35,369,485,22,102,88,1120,155,A CORUÑA
2,15003.0,ARANGA,55,<5,8,25,,15,6,<5,<5,<5,44,<5,A CORUÑA
3,15004.0,ARES,310,5,36,103,7,60,99,10,33,37,208,22,A CORUÑA
4,15005.0,ARTEIXO,1862,44,279,431,28,423,657,27,229,141,1311,154,A CORUÑA

In [355]:
df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8186 entries, 0 to 8185
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               8134 non-null   float64
 1   Municipios           8186 non-null   object
 2   Total                8186 non-null   object
 3   Hombres <25          8186 non-null   object
 4   Hombres 25-44        8186 non-null   object
 5   Hombres >=45         8186 non-null   object
 6   Mujeres <25          8186 non-null   object
 7   Mujeres 25-44        8186 non-null   object
 8   Mujeres >=45         8186 non-null   object
 9   Agricultura          8186 non-null   object
 10  Industria            8186 non-null   object
 11  Construcción         8186 non-null   object
 12  Servicios            8186 non-null   object
 13  Sin Empleo Anterior  8186 non-null   object
 14  Provincia            8186 non-null   object
dtypes: float64(1), object(14)
memory usage: 959.4+ KB

In [356]:
# Situamos la columna 'Provincia' a continuación de 'Municipios'
columns = df_paro_municipios.columns.tolist()
columns.remove('Provincia')
municipios_index = columns.index('Municipios')
columns.insert(municipios_index + 1, 'Provincia')
df_paro_municipios = df_paro_municipios[columns]
df_paro_municipios.head()

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
0,15001.0,ABEGONDO,A CORUÑA,198,7,29,47,<5,37,74,8,26,12,139,13
1,15002.0,AMES,A CORUÑA,1487,26,234,338,35,369,485,22,102,88,1120,155
2,15003.0,ARANGA,A CORUÑA,55,<5,8,25,,15,6,<5,<5,<5,44,<5
3,15004.0,ARES,A CORUÑA,310,5,36,103,7,60,99,10,33,37,208,22
4,15005.0,ARTEIXO,A CORUÑA,1862,44,279,431,28,423,657,27,229,141,1311,154

In [357]:
df_paro_municipios.to_csv("datos/paro_municipios_limpiados.csv", index=False)

In [358]:
df_paro_municipios = pd.read_csv("datos/paro_municipios_limpiados.csv")
df_paro_municipios.head()

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
0,15001.0,ABEGONDO,A CORUÑA,198,7,29,47,<5,37,74,8,26,12,139,13
1,15002.0,AMES,A CORUÑA,1487,26,234,338,35,369,485,22,102,88,1120,155
2,15003.0,ARANGA,A CORUÑA,55,<5,8,25,,15,6,<5,<5,<5,44,<5
3,15004.0,ARES,A CORUÑA,310,5,36,103,7,60,99,10,33,37,208,22
4,15005.0,ARTEIXO,A CORUÑA,1862,44,279,431,28,423,657,27,229,141,1311,154

In [359]:
df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8186 entries, 0 to 8185
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               8134 non-null   float64
 1   Municipios           8186 non-null   object
 2   Provincia            8186 non-null   object
 3   Total                8186 non-null   object
 4   Hombres <25          8186 non-null   object
 5   Hombres 25-44        8186 non-null   object
 6   Hombres >=45         8186 non-null   object
 7   Mujeres <25          8186 non-null   object
 8   Mujeres 25-44        8186 non-null   object
 9   Mujeres >=45         8186 non-null   object
 10  Agricultura          8186 non-null   object
 11  Industria            8186 non-null   object
 12  Construcción         8186 non-null   object
 13  Servicios            8186 non-null   object
 14  Sin Empleo Anterior  8186 non-null   object
dtypes: float64(1), object(14)
memory usage: 959.4+ KB

Vamos a asegurarnos que no tengamos municpios duplicados.

In [360]:
# Obtener el número de valores únicos en la columna "Municipios"
num_valores_unicos = df_paro_municipios['Municipios'].nunique()
num_valores_unicos

8129

In [361]:
# Identificar duplicados en la columna "Municipios"
df_duplicados_municipios = df_paro_municipios[df_paro_municipios['Municipios'].duplicated(keep=False)]

# Mostrar los duplicados
df_duplicados_municipios

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
76,15075.0,SADA,A CORUÑA,854,12,117,208,17,178,322,12,79,59,630,74
81,15080.0,SOBRADO,A CORUÑA,47,0,8,15,<5,13,10,<5,<5,<5,29,6
98,2003.0,ALBACETE,ALBACETE,11185,458,1540,2173,439,2529,4046,517,1008,620,8028,1012
183,NaN,ALBACETE,ALBACETE,26985,926,3119,5325,1002,6095,10518,1916,2970,1454,18706,1939
197,3014.0,ALICANTE/ALACANT,ALICANTE,28876,866,4236,7238,797,6198,9541,561,1400,2626,21482,2807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7859,49241.0,VILLAESCUSA,ZAMORA,11,,,5,<5,<5,<5,<5,,0,9,<5
7890,49275.0,ZAMORA,ZAMORA,4091,153,582,915,147,920,1374,182,279,302,2925,403
7891,NaN,ZAMORA,ZAMORA,9999,371,1313,2510,379,2053,3373,588,746,741,7083,841
8183,50297.0,ZARAGOZA,ZARAGOZA,33267,1278,4473,7361,1200,7494,11461,705,3407,2021,24051,3083
8185,NaN,ZARAGOZA,ZARAGOZA,45293,1794,5983,9805,1669,10224,15818,1797,5166,2599,31793,3938

In [362]:
# Filtrar todas las filas donde el valor de la columna "Municipios" sea "SADA"
filas_sada = df_paro_municipios[df_paro_municipios['Municipios'] == "SADA"]

filas_sada

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
76,15075.0,SADA,A CORUÑA,854,12,117,208,17,178,322,12,79,59,630,74
5205,31212.0,SADA,NAVARRA,<5,,<5,0,,0,<5,<5,0,0,<5,

Tenemos dos tipos de duplicados en los municipios. En unos, coincide el nombre del municipio, pero no de la provincia, se coresponde con municipios que aunque se llamen igual son localidades diferentes.

Los otros, son aquellos que tienen valor nulo en la columna código y en realidad son los nombres de la provincia. Contienen los datos globales de todos los municipios de la provinicia y coinciden en nombre con un municipio de dicha provincia. Como los datos de paro en las provincias los hemos extraido del INE y tratado en un dataframe aparte, los eliminamos de este.

In [363]:
df_paro_municipios= df_paro_municipios.dropna(subset=['Código'])
df_paro_municipios.reset_index(drop=True, inplace=True)

Comprobamos que ya no tenemos duplicados asociados al mismo municipio

In [364]:
# Identificar duplicados en la columna "Municipios"
df_duplicados_municipios = df_paro_municipios[df_paro_municipios['Municipios'].duplicated(keep=False)]

# Mostrar los duplicados
df_duplicados_municipios

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
76,15075.0,SADA,A CORUÑA,854,12,117,208,17,178,322,12,79,59,630,74
81,15080.0,SOBRADO,A CORUÑA,47,0,8,15,<5,13,10,<5,<5,<5,29,6
512,33037.0,MIERES,ASTURIAS,2902,97,473,702,98,596,936,60,228,247,2009,358
922,6118.0,SANCTI-SPIRITUS,BADAJOZ,12,<5,0,<5,<5,<5,5,<5,<5,0,8,<5
967,6162.0,"ZARZA, LA",BADAJOZ,253,13,14,55,12,57,102,30,8,20,182,13
1784,10023.0,ARROYOMOLINOS,CACERES,53,<5,<5,14,,8,26,10,<5,<5,35,<5
1916,10154.0,REBOLLAR,CACERES,7,0,<5,<5,0,<5,<5,<5,,<5,5,0
2051,39021.0,CIEZA,CANTABRIA,20,0,<5,<5,0,10,<5,0,<5,,19,0
2129,39099.0,VILLAESCUSA,CANTABRIA,204,12,32,51,8,36,65,6,11,14,157,16
2162,12033.0,CABANES,CASTELLON,150,<5,20,42,5,39,40,15,28,7,87,13
2364,13093.0,VILLANUEVA DE LOS INFANTES,CIUDAD REAL,327,11,37,71,9,56,143,44,23,16,222,22
2509,16067.0,CASTEJON,CUENCA,11,,<5,<5,<5,<5,5,<5,<5,<5,6,<5
2570,16135.0,MOYA,CUENCA,8,,<5,<5,,<5,<5,<5,0,,5,<5
2801,17030.0,CABANES,GIRONA,29,0,<5,10,0,7,9,<5,6,0,20,<5
2872,17105.0,MIERES,GIRONA,25,0,<5,10,<5,6,6,<5,<5,<5,16,<5
2958,17197.0,TORRENT,GIRONA,5,<5,,<5,0,,0,<5,,<5,<5,<5
3473,21018.0,"CAMPILLO, EL",HUELVA,186,11,32,43,6,45,49,30,9,7,112,28
4089,35013.0,MOYA,LAS PALMAS,787.0,34,86,198,25,150,294,24,34,86,552,91
4260,24165.0,SOBRADO,LEON,8,,<5,<5,,<5,<5,<5,<5,0,6,
4633,28015.0,ARROYOMOLINOS,MADRID,1230,58,152,214,41,340,425,6,88,84,941,111
4703,28086.0,"MOLAR, EL",MADRID,449,14,66,97,14,102,156,<5,32,44,343,29
4921,30019.0,CIEZA,MURCIA,1894.0,107,258,313,106,459,651,411,206,130,945,202
5023,31070.0,CASTEJON,NAVARRA,290,21,41,60,11,84,73,43,74,15,109,49
5169,31212.0,SADA,NAVARRA,<5,,<5,0,,0,<5,<5,0,0,<5,
5828,37279.0,SANCTI-SPIRITUS,SALAMANCA,43,<5,6,10,<5,5,20,<5,<5,<5,35,<5
6364,42151.0,REBOLLAR,SORIA,<5,,,,,<5,,,,,<5,
6565,43085.0,"MOLAR, EL",TARRAGONA,10,,<5,<5,,<5,<5,<5,<5,,8,
6749,44102.0,FONFRIA,TERUEL,0,,,,,,0,,,,0,
7345,46244.0,TORRENT,VALENCIA,6763,259,893,1329,258,1657,2367,206,1267,580,4359,351
7398,47031.0,"CAMPILLO, EL",VALLADOLID,8,<5,,<5,<5,<5,<5,,<5,<5,5,<5
7580,47221.0,VILLANUEVA DE LOS INFANTES,VALLADOLID,<5,,<5,<5,,,<5,<5,,,<5,
7592,47232.0,"ZARZA, LA",VALLADOLID,6,<5,0,<5,,0,<5,,,,5,<5
7657,49071.0,FONFRIA,ZAMORA,35,<5,<5,12,<5,5,12,0,<5,9,22,<5
7809,49241.0,VILLAESCUSA,ZAMORA,11,,,5,<5,<5,<5,<5,,0,9,<5

In [365]:
df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8134 entries, 0 to 8133
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               8134 non-null   float64
 1   Municipios           8134 non-null   object
 2   Provincia            8134 non-null   object
 3   Total                8134 non-null   object
 4   Hombres <25          8134 non-null   object
 5   Hombres 25-44        8134 non-null   object
 6   Hombres >=45         8134 non-null   object
 7   Mujeres <25          8134 non-null   object
 8   Mujeres 25-44        8134 non-null   object
 9   Mujeres >=45         8134 non-null   object
 10  Agricultura          8134 non-null   object
 11  Industria            8134 non-null   object
 12  Construcción         8134 non-null   object
 13  Servicios            8134 non-null   object
 14  Sin Empleo Anterior  8134 non-null   object
dtypes: float64(1), object(14)
memory usage: 953.3+ KB

In [366]:
# Identificar los valores no numéricos en la columna "Total"
df_valores_no_numericos = df_paro_municipios[~df_paro_municipios['Total'].str.isnumeric()]

# Mostrar los valores no numéricos
df_valores_no_numericos

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
63,15902.0,OZA-CESURAS,A CORUÑA,,,,,,,,,,,,
144,2050.0,MONTALVOS,ALBACETE,<5,,0,<5,,0,,<5,,,0,
220,3039.0,BENIMASSOT,ALICANTE,<5,,<5,0,,,<5,,,<5,<5,
312,3130.0,TOLLOS,ALICANTE,<5,,<5,<5,,,<5,,,,<5,
355,4033.0,CASTRO DE FILABRES,ALMERIA,<5,,0,<5,,<5,<5,0,,,<5,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8124,50289.0,VILLANUEVA DE JILOCA,ZARAGOZA,<5,,,<5,,<5,,<5,<5,,0,
8125,50291.0,VILLAR DE LOS NAVARROS,ZARAGOZA,,,,,,,,,,,,
8128,50294.0,VILLARROYA DEL CAMPO,ZARAGOZA,,,,,,,,,,,,
8129,50282.0,"VILUEÑA, LA",ZARAGOZA,<5,,<5,,,0,,0,<5,,,
8130,50295.0,VISTABELLA,ZARAGOZA,<5,<5,,,,,,,,,<5,

In [367]:
# Obtener los valores únicos de la columna "Total" en el DataFrame de valores no numéricos
df_valores_no_numericos['Total'].unique()

array([' ', '<5', '685.0', '315.0', '146.0', '14108.0', '495.0', '4162.0',
       '2943.0', '2433.0', '803.0', '68.0', '713.0', '194.0', '11165.0',
       '295.0', '9779.0', '2289.0', '1884.0', '310.0', '155.0', '209.0',
       '25563.0', '692.0', '9219.0', '1388.0', '546.0', '716.0', '683.0',
       '9303.0', '4687.0', '420.0', '2684.0', '10394.0', '511.0',
       '8190.0', '229.0', '3287.0', '189.0', '1446.0', '79.0', '609.0',
       '1560.0', '1497.0', '33.0', '1498.0', '92.0', '9858.0', '135.0',
       '663.0', '121.0', '120.0', '800.0', '124.0', '1145.0', '338.0',
       '364.0', '219.0', '73.0', '1385.0', '113.0', '119.0', '85.0',
       '885.0', '376.0', '327.0', '18.0', '31168.0', '201.0', '169.0',
       '163.0', '89.0', '224.0', '649.0', '46.0', '40.0', '593.0',
       '499.0', '26.0', '70.0', '82.0', '53.0', '28.0', '682.0', '285.0',
       '138.0', '3762.0', '154.0', '213.0', '1546.0', '532.0', '110.0',
       '165.0', '187.0', '51.0', '1334.0', '210.0', '125.0', '1397.0',
       '487.0', '1296.0', '1500.0', '2704.0', '472.0', '44.0', '153.0',
       '74.0', '66.0', '24.0', '36.0', '151.0', '489.0', '377.0', '63.0',
       '527.0', '56.0', '286.0', '149.0', '31.0', '21.0', '1558.0',
       '39.0', '30.0', '387.0', '466.0', '78.0', '288.0', '899.0', '15.0',
       '20.0', '2154.0', '38.0', '54.0', '2252.0', '1839.0', '1547.0',
       '67.0', '415.0', '49.0', '127.0', '346.0', '45.0', '71.0', '231.0',
       '41.0', '23.0', '8.0', '93.0', '757.0', '456.0', '81.0', '1482.0',
       '365.0', '43.0', '179.0', '87.0', '253.0', '669.0', '164.0',
       '19.0', '65.0', '116.0', '58.0', '57.0', '37.0', '528.0', '2145.0',
       '61.0', '452.0', '69.0', '21363.0', '176.0', '1594.0', '84.0',
       '263.0', '208.0', '266.0', '25.0', '75.0', '473.0', '174.0',
       '551.0', '900.0', '542.0', '50.0', '515.0', '86.0', '293.0',
       '14.0', '321.0', '27.0', '11.0', '1452.0', '161.0', '2017.0',
       '190.0', '241.0', '732.0', '191.0', '35.0', '4974.0', '94.0',
       '98.0', '1093.0', '64.0', '585.0', '60.0', '563.0', '835.0',
       '34.0', '101.0', '994.0', '99.0', '76.0', '118.0', '1287.0',
       '72.0', '560.0', '248.0', '1095.0', '22.0', '1711.0', '52.0',
       '247.0', '117.0', '129.0', '973.0', '254.0', '48.0', '95.0',
       '1704.0', '1015.0', '513.0', '3494.0', '185.0', '1048.0', '1744.0',
       '292.0', '183.0', '16.0', '142.0', '83.0', '1867.0', '134.0',
       '112.0', '439.0', '42.0', '147.0', '322.0', '275.0', '360.0',
       '196.0', '8577.0', '374.0', '7.0', '5792.0', '554.0', '366.0',
       '1937.0', '933.0', '160.0', '55.0', '109.0', '215.0', '162.0',
       '289.0', '106.0', '115.0', '199.0', '222.0', '96.0', '12.0',
       '157.0', '111.0', '869.0', '970.0', '540.0', '47.0', '2788.0',
       '312.0', '401.0', '178.0', '341.0', '259.0', '565.0', '2797.0',
       '665.0', '647.0', '4622.0', '3590.0', '711.0', '2268.0', '326.0',
       '2934.0', '1163.0', '787.0', '1597.0', '904.0', '36511.0',
       '3059.0', '993.0', '3779.0', '1186.0', '6951.0', '1231.0',
       '1019.0', '10405.0', '1116.0', '939.0', '1070.0', '306.0', '772.0',
       '617.0', '425.0', '122.0', '175.0', '381.0', '103.0', '410.0',
       '100.0', '177.0', '4816.0', '91.0', '150.0', '168.0', '657.0',
       '17.0', '533.0', '910.0', '104.0', '145.0', '498.0', '3201.0',
       '2489.0', '137.0', '339.0', '1315.0', '3066.0', '307.0', '195.0',
       '5287.0', '166.0', '193.0', '59.0', '720.0', '2284.0', '431.0',
       '2148.0', '62.0', '226.0', '379.0', '182.0', '4704.0', '5654.0',
       '123.0', '198.0', '218.0', '53555.0', '9319.0', '6682.0', '102.0',
       '296.0', '252.0', '1754.0', '242.0', '257.0', '947.0', '3406.0',
       '3049.0', '197.0', '5711.0', '1390.0', '80.0', '217.0', '6794.0',
       '342.0', '8939.0', '538.0', '2043.0', '3265.0', '923.0', '723.0',
       '1122.0', '976.0', '488.0', '302.0', '780.0', '688.0', '136.0',
       '1551.0', '15013.0', '1110.0', '770.0', '1894.0', '776.0', '722.0',
       '1401.0', '333.0', '3942.0', '484.0', '1698.0', '4515.0', '600.0',
       '28025.0', '159.0', '586.0', '1870.0', '1726.0', '786.0', '1582.0',
       '1415.0', '1262.0', '1660.0', '212.0', '2335.0', '88.0', '332.0',
       '655.0', '804.0', '386.0', '180.0', '220.0', '6317.0', '32.0',
       '173.0', '13.0', '105.0', '10.0', '615.0', '656.0', '205.0',
       '636.0', '514.0', '718.0', '1679.0', '320.0', '156.0', '237.0',
       '908.0', '815.0', '535.0', '936.0', '126.0', '1275.0', '239.0',
       '1240.0', '809.0', '884.0', '171.0', '221.0', '898.0', '1724.0',
       '382.0', '4727.0', '1354.0', '1389.0', '202.0', '383.0', '568.0',
       '699.0', '314.0', '491.0', '818.0', '1042.0', '301.0', '18713.0',
       '278.0', '200.0', '2674.0', '579.0', '300.0', '7716.0', '1043.0',
       '207.0', '1825.0', '526.0', '1169.0', '430.0', '628.0', '130.0',
       '616.0', '873.0', '1714.0', '854.0', '635.0', '3291.0', '249.0',
       '857.0', '2443.0', '299.0', '529.0', '235.0', '1515.0', '426.0',
       '3153.0', '308.0', '167.0', '964.0', '13088.0', '3434.0', '1018.0',
       '651.0', '394.0', '839.0', '727.0', '918.0', '1387.0', '269.0',
       '265.0', '2400.0', '1187.0', '344.0', '2102.0', '3561.0', '1643.0',
       '2392.0', '986.0', '1355.0', '3565.0', '645.0', '416.0', '284.0',
       '152.0', '1101.0', '133.0', '775.0', '1306.0', '170.0', '3814.0',
       '268.0', '483.0', '2677.0', '1338.0', '886.0', '62693.0', '547.0',
       '1521.0', '731.0', '5926.0', '704.0', '712.0', '520.0', '1854.0',
       '2372.0', '482.0', '671.0', '5933.0', '623.0', '392.0', '2064.0',
       '395.0', '3970.0', '479.0', '1350.0', '1912.0', '2416.0', '1761.0',
       '852.0', '3971.0', '2846.0', '158.0', '3820.0', '1170.0',
       '14920.0', '422.0', '1166.0', '464.0', '1295.0', '20206.0',
       '1494.0', '530.0', '2312.0', '267.0', '502.0', '878.0', '368.0',
       '937.0', '131.0'], dtype=object)

Los valores no numéricos de la columna "Total" son o valores reales, con parte decimal 0 y por tanto convertibles a enteros o espacios en blanco (" ") o valores <5 que indica "menor que 5". Nos interesa convertir la coluna "Total" a entero así que a continuación vamos a decidir que hacer con los valores que pueden resultar problemáticos al hacerlo.

In [368]:
# Filtrar todas las filas donde el valor de la columna "Total" sea "0"
df_total_cero = df_paro_municipios[df_paro_municipios['Total'] == "0"]
df_total_cero

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
249,3068.0,FAMORCA,ALICANTE,0,,0,0,,,,,0,,0,
590,5045.0,CABIZUELA,AVILA,0,,,0,,0,,0,,,0,
607,5062.0,COLLADO DE CONTRERAS,AVILA,0,,0,,,0,,0,,,0,
629,5086.0,GIMIALCON,AVILA,0,,,0,,0,,0,0,,0,
686,5148.0,NARROS DEL PUERTO,AVILA,0,,0,,,0,,,,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8059,50224.0,RETASCON,ZARAGOZA,0,,0,0,,,,,,,0,
8063,50229.0,RUESCA,ZARAGOZA,0,,0,,,0,,,0,,0,
8073,50238.0,SANTA EULALIA DE GALLEGO,ZARAGOZA,0,,0,,,,0,,,,0,
8074,50239.0,SANTED,ZARAGOZA,0,,,0,,,,,,,0,
8102,50268.0,UNDUES DE LERDA,ZARAGOZA,0,,,,,,0,,,,0,

In [369]:
# Filtrar las filas donde el valor de la columna "Total" sea menor o igual a 4
df_total_menor_igual_4 = df_paro_municipios[pd.to_numeric(df_paro_municipios['Total'], errors='coerce') <= 4]

# Mostrar las filas filtradas
df_total_menor_igual_4

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
249,3068.0,FAMORCA,ALICANTE,0,,0,0,,,,,0,,0,
590,5045.0,CABIZUELA,AVILA,0,,,0,,0,,0,,,0,
607,5062.0,COLLADO DE CONTRERAS,AVILA,0,,0,,,0,,0,,,0,
629,5086.0,GIMIALCON,AVILA,0,,,0,,0,,0,0,,0,
686,5148.0,NARROS DEL PUERTO,AVILA,0,,0,,,0,,,,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8059,50224.0,RETASCON,ZARAGOZA,0,,0,0,,,,,,,0,
8063,50229.0,RUESCA,ZARAGOZA,0,,0,,,0,,,0,,0,
8073,50238.0,SANTA EULALIA DE GALLEGO,ZARAGOZA,0,,0,,,,0,,,,0,
8074,50239.0,SANTED,ZARAGOZA,0,,,0,,,,,,,0,
8102,50268.0,UNDUES DE LERDA,ZARAGOZA,0,,,,,,0,,,,0,

Vemos pues que las filas que tienen valores menores o iguales que 4 en la columna "Total" tienen todas valor 0.

Del mismo modo, y teniendo en cuenta que corresponden a municipios de población muy pequeña al convertir la columna "Total" a entero, las celdas de esta columna con valor <5 las imputaremos el valor 4, ya que en el dataframe no tenemos valores numericos para esa columna entre 0 y 5. Estamos cometiendo una sobreestimación del paro, pero a efectos de tomar medidas sobre el paro creemos que es mejor una sobreestimación que una subestimación.

Queda ver como se trataran las celdas cuyo valor "Total" sea une espacio en blanco

In [370]:
# Filtrar las filas donde el valor de la columna "Total" sea un espacio en blanco (' ')
df_total_espacio = df_paro_municipios[df_paro_municipios['Total'] == ' ']

df_total_espacio.sample(20)

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
3366,19234.0,RETIENDAS,GUADALAJARA,,,,,,,,,,,,
3416,19288.0,TORTUERO,GUADALAJARA,,,,,,,,,,,,
7513,47151.0,SAN SALVADOR,VALLADOLID,,,,,,,,,,,,
6366,42153.0,RELLO,SORIA,,,,,,,,,,,,
7882,50042.0,BALCONCHAN,ZARAGOZA,,,,,,,,,,,,
3326,19191.0,MONASTERIO,GUADALAJARA,,,,,,,,,,,,
579,5034.0,BLASCONUÑO DE MATACABRAS,AVILA,,,,,,,,,,,,
1486,9120.0,ENCIO,BURGOS,,,,,,,,,,,,
3240,19087.0,CINCOVILLAS,GUADALAJARA,,,,,,,,,,,,
4042,26147.0,TERROBA,LA RIOJA,,,,,,,,,,,,
6735,44085.0,COSA,TERUEL,,,,,,,,,,,,
2670,16265.0,VILLAREJO DE LA PEÑUELA,CUENCA,,,,,,,,,,,,
4519,25222.0,TIURANA,LLEIDA,,,,,,,,,,,,
4049,26154.0,TORREMONTALBO,LA RIOJA,,,,,,,,,,,,
6317,42086.0,FUENTECAMBRON,SORIA,,,,,,,,,,,,
5959,40037.0,CALABAZAS DE FUENTIDUEÑA,SEGOVIA,,,,,,,,,,,,
5450,34179.0,TABANERA DE VALDAVIA,PALENCIA,,,,,,,,,,,,
684,5145.0,NARRILLOS DEL REBOLLAR,AVILA,,,,,,,,,,,,
2667,16259.0,VILLAR DEL INFANTADO,CUENCA,,,,,,,,,,,,
5853,37309.0,"SIERPE, LA",SALAMANCA,,,,,,,,,,,,

In [371]:
df_total_espacio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 63 to 8128
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               244 non-null    float64
 1   Municipios           244 non-null    object
 2   Provincia            244 non-null    object
 3   Total                244 non-null    object
 4   Hombres <25          244 non-null    object
 5   Hombres 25-44        244 non-null    object
 6   Hombres >=45         244 non-null    object
 7   Mujeres <25          244 non-null    object
 8   Mujeres 25-44        244 non-null    object
 9   Mujeres >=45         244 non-null    object
 10  Agricultura          244 non-null    object
 11  Industria            244 non-null    object
 12  Construcción         244 non-null    object
 13  Servicios            244 non-null    object
 14  Sin Empleo Anterior  244 non-null    object
dtypes: float64(1), object(14)
memory usage: 30.5+ KB

Estas celdas se corresponden a Municipios de pocos habitantes en los que recoger esta clase de información es complicado pero podemos presuponer que la cifra de Parados estará proxima a 0 como en los de similar tamaño de los que si disponemos datos. Así, imputaremos estos valores a 0.

Hacemos las transformaciones que hemos enunciado.

In [372]:
# Reemplazar valores ' ' con 0 y valores '<5' con 4 en la columna "Total"
df_paro_municipios['Total'] = df_paro_municipios['Total'].replace([' '], 0)
df_paro_municipios['Total'] = df_paro_municipios['Total'].replace(['<5'], 4)

Ahora ya, convertimos la columna "Total" a tipo entero.

In [373]:
# Convertir la columna "Total" a tipo entero, manejando si los hubiera, valores no numéricos
df_paro_municipios['Total'] = pd.to_numeric(df_paro_municipios['Total'], errors='coerce').astype('int64')

df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8134 entries, 0 to 8133
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               8134 non-null   float64
 1   Municipios           8134 non-null   object
 2   Provincia            8134 non-null   object
 3   Total                8134 non-null   int64
 4   Hombres <25          8134 non-null   object
 5   Hombres 25-44        8134 non-null   object
 6   Hombres >=45         8134 non-null   object
 7   Mujeres <25          8134 non-null   object
 8   Mujeres 25-44        8134 non-null   object
 9   Mujeres >=45         8134 non-null   object
 10  Agricultura          8134 non-null   object
 11  Industria            8134 non-null   object
 12  Construcción         8134 non-null   object
 13  Servicios            8134 non-null   object
 14  Sin Empleo Anterior  8134 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 953.3+ KB

No hay valores nulos, luego se ha convertido con exito toda la columna "Total"

Procedemos dela misma manera para las columnas  que para la columna "Total"

In [374]:
# Reemplazar valores ' ' con 0 y valores '<5' con 4 en las columnas indicadas
columnas = ["Hombres <25", "Hombres 25-44", "Hombres >=45", "Mujeres <25", "Mujeres 25-44", "Mujeres >=45"]
df_paro_municipios[columnas] = df_paro_municipios[columnas].replace([' '], 0)
df_paro_municipios[columnas] = df_paro_municipios[columnas].replace(['<5'], 4)

In [375]:
df_paro_municipios[columnas] = df_paro_municipios[columnas].apply(pd.to_numeric, errors='coerce').astype('int64')

# Mostrar información del DataFrame
df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8134 entries, 0 to 8133
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               8134 non-null   float64
 1   Municipios           8134 non-null   object
 2   Provincia            8134 non-null   object
 3   Total                8134 non-null   int64
 4   Hombres <25          8134 non-null   int64
 5   Hombres 25-44        8134 non-null   int64
 6   Hombres >=45         8134 non-null   int64
 7   Mujeres <25          8134 non-null   int64
 8   Mujeres 25-44        8134 non-null   int64
 9   Mujeres >=45         8134 non-null   int64
 10  Agricultura          8134 non-null   object
 11  Industria            8134 non-null   object
 12  Construcción         8134 non-null   object
 13  Servicios            8134 non-null   object
 14  Sin Empleo Anterior  8134 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 953.3+ KB

In [376]:
df_paro_municipios.sample(20)

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
4521,25224.0,"TORMS, ELS",LLEIDA,4,0,0,4,4,4,4,<5,0,0,<5,
1326,48040.0,GATIKA,BIZKAIA,55,6,4,13,4,9,23,<5,12,<5,37,<5
7827,49261.0,VILLARALBO,ZAMORA,141,4,22,36,4,27,48,<5,11,7,114,5
4075,26183.0,ZORRAQUIN,LA RIOJA,4,0,4,0,0,0,4,,<5,,<5,
2023,11036.0,TORRE ALHAQUIME,CADIZ,79,12,14,22,7,16,8,12,<5,10,47,9
2693,20007.0,ALTZO,GIPUZCOA,8,0,4,4,0,0,4,,0,<5,7,0
6525,43045.0,COLLDEJOU,TARRAGONA,7,0,4,4,0,4,4,<5,<5,0,5,
3614,22094.0,CHALAMERA,HUESCA,4,0,4,0,0,4,0,0,,<5,<5,
3647,22137.0,LANAJA,HUESCA,41,4,5,15,4,7,11,11,<5,<5,20,<5
718,5181.0,PASCUALCOBO,AVILA,4,0,4,4,0,0,0,,,,<5,
6240,41102.0,"VISO DEL ALCOR, EL",SEVILLA,1854,60,252,285,49,516,692,122,179,160,1235,158
3930,26029.0,BERGASILLAS BAJERA,LA RIOJA,0,0,0,0,0,0,0,,0,,,
1259,8292.0,VALLBONA D'ANOIA,BARCELONA,66,4,6,18,4,13,25,0,8,<5,51,5
5121,31165.0,MENDAVIA,NAVARRA,164,11,25,34,9,44,41,31,35,<5,80,15
1974,10209.0,VILLAMESIAS,CACERES,31,0,4,13,4,4,8,<5,<5,5,20,0
6092,40185.0,SANTA MARIA LA REAL DE NIEVA,SEGOVIA,22,0,0,9,4,4,9,<5,<5,<5,17,
796,5261.0,VILLAR DE CORNEJA,AVILA,0,0,0,0,0,0,0,,,,,
6074,40181.0,REAL SITIO DE SAN ILDEFONSO,SEGOVIA,195,5,16,60,4,42,69,<5,11,10,157,13
4117,24008.0,ASTORGA,LEON,663,23,94,162,31,158,195,24,60,52,445,82
6809,44168.0,ODON,TERUEL,5,0,4,4,0,0,4,<5,,0,<5,

La columna codigo es de tipo float, pero es un id de numeros enteros, por lo que lo pasaremos a tipo entero.

In [377]:
# Convertir la columna "Código" a tipo entero
df_paro_municipios['Código'] = df_paro_municipios['Código'].astype('int64')
df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8134 entries, 0 to 8133
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               8134 non-null   int64
 1   Municipios           8134 non-null   object
 2   Provincia            8134 non-null   object
 3   Total                8134 non-null   int64
 4   Hombres <25          8134 non-null   int64
 5   Hombres 25-44        8134 non-null   int64
 6   Hombres >=45         8134 non-null   int64
 7   Mujeres <25          8134 non-null   int64
 8   Mujeres 25-44        8134 non-null   int64
 9   Mujeres >=45         8134 non-null   int64
 10  Agricultura          8134 non-null   object
 11  Industria            8134 non-null   object
 12  Construcción         8134 non-null   object
 13  Servicios            8134 non-null   object
 14  Sin Empleo Anterior  8134 non-null   object
dtypes: int64(8), object(7)
memory usage: 953.3+ KB

In [378]:
df_paro_municipios.sample(20)

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45,Agricultura,Industria,Construcción,Servicios,Sin Empleo Anterior
4636,28018,BECERRIL DE LA SIERRA,MADRID,294,6,41,83,10,51,103,5,9,28,229,23
1550,9206,MAZUELA,BURGOS,0,0,0,0,0,0,0,,,,,
3648,22139,LAPERDIGUERA,HUESCA,4,0,0,0,0,4,0,0,,,<5,
6297,42061,CIDONES,SORIA,7,0,4,0,0,4,4,,,<5,6,
2220,12097,SACAÑET,CASTELLON,4,0,0,4,0,4,4,<5,,,<5,
554,33078,YERNES Y TAMEZA,ASTURIAS,9,0,4,6,0,0,4,,,,9,
4444,25136,"MOLSOSA, LA",LLEIDA,4,0,0,4,0,4,4,,<5,,<5,
5901,37359,VILLAR DE LA YEGUA,SALAMANCA,9,4,0,5,0,0,4,,,,7,<5
2146,12015,ARGELITA,CASTELLON,11,0,4,4,4,4,0,8,<5,,<5,
6894,44265,VINACEITE,TERUEL,7,0,4,4,0,4,4,<5,,,<5,
6447,38025,"MATANZA DE ACENTEJO, LA",STA CRUZ TENER.,852,27,111,242,20,160,292,16,39,106,615,76
6288,42052,CARACENA,SORIA,0,0,0,0,0,0,0,0,,,0,
3920,26019,ARRUBAL,LA RIOJA,29,4,4,6,4,10,9,<5,9,<5,15,<5
4608,27058,"SAVIÑAO, O",LUGO,122,4,19,42,4,18,40,10,10,10,84,8
8131,50296,"ZAIDA, LA",ZARAGOZA,14,0,4,5,4,4,4,<5,<5,<5,10,0
4525,25228,TORREFARRERA,LLEIDA,142,11,23,25,4,32,50,9,12,10,109,<5
7657,49071,FONFRIA,ZAMORA,35,4,4,12,4,5,12,0,<5,9,22,<5
5125,31169,MILAGRO,NAVARRA,192,6,31,33,11,64,47,27,32,<5,103,28
5142,31184,OCO,NAVARRA,4,0,4,4,0,0,4,<5,<5,,<5,
6525,43045,COLLDEJOU,TARRAGONA,7,0,4,4,0,4,4,<5,<5,0,5,

In [379]:
# Eliminar las columnas especificadas del DataFrame directamente
df_paro_municipios.drop(columns=["Agricultura", "Industria", "Construcción", "Servicios", "Sin Empleo Anterior"], inplace=True)

# Mostrar el DataFrame actualizado
df_paro_municipios.head()

,Código,Municipios,Provincia,Total,Hombres <25,Hombres 25-44,Hombres >=45,Mujeres <25,Mujeres 25-44,Mujeres >=45
0,15001,ABEGONDO,A CORUÑA,198,7,29,47,4,37,74
1,15002,AMES,A CORUÑA,1487,26,234,338,35,369,485
2,15003,ARANGA,A CORUÑA,55,4,8,25,0,15,6
3,15004,ARES,A CORUÑA,310,5,36,103,7,60,99
4,15005,ARTEIXO,A CORUÑA,1862,44,279,431,28,423,657

Para nuestro análisis no nos importa la edad y si saber el numero de hombres y mujeres en paro de cada localidad así pues agrupamos las columaas de hombres en una y lo mismo para las de mujeres

In [380]:
# Agrupar y sumar las columnas de hombres
df_paro_municipios['Hombres'] = (
    df_paro_municipios[['Hombres <25', 'Hombres 25-44', 'Hombres >=45']].sum(axis=1)
)

# Agrupar y sumar las columnas de mujeres
df_paro_municipios['Mujeres'] = (
    df_paro_municipios[['Mujeres <25', 'Mujeres 25-44', 'Mujeres >=45']].sum(axis=1)
)

# Eliminar las columnas individuales de hombres y mujeres para simplificar
df_paro_municipios = df_paro_municipios.drop(
    columns=['Hombres <25', 'Hombres 25-44', 'Hombres >=45', 'Mujeres <25', 'Mujeres 25-44', 'Mujeres >=45']
)

df_paro_municipios.head()

   Código Municipios Provincia  Total  Hombres  Mujeres
0   15001   ABEGONDO  A CORUÑA    198       83      115
1   15002       AMES  A CORUÑA   1487      598      889
2   15003     ARANGA  A CORUÑA     55       37       21
3   15004       ARES  A CORUÑA    310      144      166
4   15005    ARTEIXO  A CORUÑA   1862      754     1108

Nótese que para algunos municipios el Total (de parados) no se corresponde con la suma de Hombres y Mujeres. Tengamos en cuenta que hicimos una aproximación en los valores no numéricos de estas tres columnas, por lo que en los municipios pequeños estos datos pueden no ser exactos.

In [381]:

# Usamos la función pd.MultiIndex.from_tuples() para crear encabezados y subencabezados
new_columns = pd.MultiIndex.from_tuples(
    [
        ("Municipio", "Código"),
        ("Municipio", "Nombre del municipio"),
        ("Provincia", "Nombre de la provincia"),
        ("Número de parados", "Total"),
        ("Número de parados", "Hombres"),
        ("Número de parados", "Mujeres"),
    ]
)

# Asignar el nuevo MultiIndex a las columnas del DataFrame
df_paro_municipios.columns = new_columns

# Mostrar el DataFrame actualizado
df_paro_municipios.head()

  Municipio                                   Provincia Número de parados  \
     Código Nombre del municipio Nombre de la provincia             Total
0     15001             ABEGONDO               A CORUÑA               198
1     15002                 AMES               A CORUÑA              1487
2     15003               ARANGA               A CORUÑA                55
3     15004                 ARES               A CORUÑA               310
4     15005              ARTEIXO               A CORUÑA              1862


  Hombres Mujeres
0      83     115
1     598     889
2      37      21
3     144     166
4     754    1108

In [382]:
# Reordenar las columnas para que "Total" aparezca después de "Hombres y Mujeres"
df_paro_municipios = df_paro_municipios.reorder_levels([0, 1], axis=1)
new_order = [
        ("Municipio", "Código"),
        ("Municipio", "Nombre del municipio"),
        ("Provincia", "Nombre de la provincia"),
        ("Número de parados", "Hombres"),
        ("Número de parados", "Mujeres"),
        ("Número de parados", "Total")
    ]
df_paro_municipios = df_paro_municipios[new_order]

# Mostrar el DataFrame actualizado
df_paro_municipios.head()

  Municipio                                   Provincia Número de parados  \
     Código Nombre del municipio Nombre de la provincia           Hombres
0     15001             ABEGONDO               A CORUÑA                83
1     15002                 AMES               A CORUÑA               598
2     15003               ARANGA               A CORUÑA                37
3     15004                 ARES               A CORUÑA               144
4     15005              ARTEIXO               A CORUÑA               754


  Mujeres Total
0     115   198
1     889  1487
2      21    55
3     166   310
4    1108  1862

In [384]:
df_paro_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8134 entries, 0 to 8133
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   (Municipio, Código)                  8134 non-null   int64
 1   (Municipio, Nombre del municipio)    8134 non-null   object
 2   (Provincia, Nombre de la provincia)  8134 non-null   object
 3   (Número de parados, Hombres)         8134 non-null   int64
 4   (Número de parados, Mujeres)         8134 non-null   int64
 5   (Número de parados, Total)           8134 non-null   int64
dtypes: int64(4), object(2)
memory usage: 381.4+ KB

In [383]:
df_paro_municipios.to_csv("datos_limpiados/municipios/paro_municipios_limpio.csv", index=False)