In [67]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# 1. URL de la página
url = "https://es.wikipedia.org/wiki/Anexo:Resultados_del_Informe_PISA_en_Espa%C3%B1a_por_Comunidades_Aut%C3%B3nomas#2022"

# 2. Realizar la solicitud
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# 3. Localizar el encabezado h3 con id="2022"
h3_2022 = soup.find("h3", {"id": "2022"})

# 4. Encontrar la tabla con border="1" que aparece justo después del h3 de 2022
table_2022 = h3_2022.find_next("table", {"border": "1"})

# 5. Dentro de esa tabla, hallar sus subtablas con border="0" (3 subtablas para las 3 habilidades)
subtables = table_2022.find_all("table", {"border": "0"})

# Para etiquetar cada subtabla con el nombre de la habilidad
habilidades_map = {
    0: "Habilidad lectora",
    1: "Matemáticas",
    2: "Ciencias"
}

# Aquí guardamos todas las filas (sin limpiar ni transformar)
data = []

# 6. Recorrer las subtablas y sus filas
for i, subtable in enumerate(subtables):
    habilidad = habilidades_map.get(i, f"Habilidad_{i}")
    
    rows = subtable.find_all("tr")
    for row in rows:
        # Obtenemos todas las celdas
        cells = row.find_all('td')
        # La estructura esperada: 3 celdas (Posición / Comunidad / Puntuación)
        if len(cells) >= 3:
            # a) Posición (sin limpiar ni convertir a número)
            posicion = cells[0].get_text(strip=True)
            
            # b) Comunidad Autónoma
            #    Algunas celdas tienen 2 enlaces (bandera y nombre). Tomamos el último <a>
            all_links = cells[1].find_all("a", href=True)
            if all_links:
                comunidad = all_links[-1].get_text(strip=True)
            else:
                comunidad = cells[1].get_text(strip=True)
            
            # c) Puntuación (sin convertir a float)
            puntuacion = cells[2].get_text(strip=True)
            
            # Añadimos la fila con su habilidad
            data.append([posicion, comunidad, puntuacion, habilidad])

# 7. Crear el DataFrame final con los datos en bruto
df = pd.DataFrame(data, columns=["Posición", "Comunidad Autónoma", "Puntuación", "Habilidad"])

# 8. Mostrar el DataFrame (sin limpieza ni transformación)
df

   Posición    Comunidad Autónoma Puntuación          Habilidad
0        1.       Castilla y León        498  Habilidad lectora
1        2.              Asturias        497  Habilidad lectora
2        3.   Comunidad de Madrid        496  Habilidad lectora
3        4.             Cantabria        494  Habilidad lectora
4        5.                Aragón        488  Habilidad lectora
5        6.              La Rioja        487  Habilidad lectora
6        7.               Galicia        485  Habilidad lectora
7        8.  Comunidad Valenciana        482  Habilidad lectora
8        9.               Navarra        478  Habilidad lectora
9                      Media OCDE        476  Habilidad lectora
10                    Promedio EU        475  Habilidad lectora
11                   Media España        474  Habilidad lectora
12      10.        Islas Baleares        472  Habilidad lectora
13      11.      Región de Murcia        468  Habilidad lectora
14      12.           Extremadura        468  Habilidad lectora
15      13.    Castilla-La Mancha        468  Habilidad lectora
16      14.            País Vasco        466  Habilidad lectora
17      15.        Islas Canarias        463  Habilidad lectora
18      16.              Cataluña        462  Habilidad lectora
19      17.             Andalucía        461  Habilidad lectora
20      18.               Melilla        405  Habilidad lectora
21      19.                 Ceuta        404  Habilidad lectora
22       1.       Castilla y León        499        Matemáticas
23       2.              Asturias        495        Matemáticas
24       3.             Cantabria        495        Matemáticas
25       4.   Comunidad de Madrid        494        Matemáticas
26       5.              La Rioja        493        Matemáticas
27       6.               Navarra        492        Matemáticas
28       7.                Aragón        487        Matemáticas
29       8.               Galicia        486        Matemáticas
30       9.            País Vasco        482        Matemáticas
31                    Promedio EU        474        Matemáticas
32                   Media España        473        Matemáticas
33      10.  Comunidad Valenciana        473        Matemáticas
34                     Media OCDE        472        Matemáticas
35      11.        Islas Baleares        471        Matemáticas
36      12.              Cataluña        469        Matemáticas
37      13.           Extremadura        469        Matemáticas
38      14.    Castilla-La Mancha        464        Matemáticas
39      15.      Región de Murcia        463        Matemáticas
40      16.             Andalucía        457        Matemáticas
41      17.        Islas Canarias        447        Matemáticas
42      18.               Melilla        404        Matemáticas
43      19.                 Ceuta        395        Matemáticas
44       1.       Castilla y León        506           Ciencias
45       2.               Galicia        506           Ciencias
46       3.             Cantabria        504           Ciencias
47       4.              Asturias        503           Ciencias
48       5.   Comunidad de Madrid        502           Ciencias
49       6.              La Rioja        500           Ciencias
50       7.                Aragón        499           Ciencias
51       8.               Navarra        489           Ciencias
52                     Media OCDE        485           Ciencias
53                   Media España        485           Ciencias
54                    Promedio EU        484           Ciencias
55       9.  Comunidad Valenciana        483           Ciencias
56      10.      Región de Murcia        482           Ciencias
57      11.        Islas Baleares        480           Ciencias
58      12.            País Vasco        480           Ciencias
59      13.           Extremadura        479           Ciencias
60      14.              Cataluña        477           Ciencias
61      15.    Castilla-La Mancha        475           Ciencias
62      16.             Andalucía        473           Ciencias
63      17.        Islas Canarias        473           Ciencias
64      18.               Melilla        414           Ciencias
65      19.                 Ceuta        410           Ciencias

In [68]:
df["Puntuación"] = df["Puntuación"].astype(int)

# Hacemos el pivot. Usamos `aggfunc='first'` para evitar error si hay filas duplicadas.
result_df = df.pivot_table(
    index='Comunidad Autónoma',
    columns='Habilidad',
    values='Puntuación',
    aggfunc='first'
).reset_index()

print("=== Formato pivotado (tabular), incluyendo promedios y totales ===")
result_df

=== Formato pivotado (tabular), incluyendo promedios y totales ===

Habilidad    Comunidad Autónoma  Ciencias  Habilidad lectora  Matemáticas
0                     Andalucía       473                461          457
1                        Aragón       499                488          487
2                      Asturias       503                497          495
3                     Cantabria       504                494          495
4               Castilla y León       506                498          499
5            Castilla-La Mancha       475                468          464
6                      Cataluña       477                462          469
7                         Ceuta       410                404          395
8          Comunidad Valenciana       483                482          473
9           Comunidad de Madrid       502                496          494
10                  Extremadura       479                468          469
11                      Galicia       506                485          486
12               Islas Baleares       480                472          471
13               Islas Canarias       473                463          447
14                     La Rioja       500                487          493
15                 Media España       485                474          473
16                   Media OCDE       485                476          472
17                      Melilla       414                405          404
18                      Navarra       489                478          492
19                   País Vasco       480                466          482
20                  Promedio EU       484                475          474
21             Región de Murcia       482                468          463

In [69]:

result_df.columns.name = None
result_df

      Comunidad Autónoma  Ciencias  Habilidad lectora  Matemáticas
0              Andalucía       473                461          457
1                 Aragón       499                488          487
2               Asturias       503                497          495
3              Cantabria       504                494          495
4        Castilla y León       506                498          499
5     Castilla-La Mancha       475                468          464
6               Cataluña       477                462          469
7                  Ceuta       410                404          395
8   Comunidad Valenciana       483                482          473
9    Comunidad de Madrid       502                496          494
10           Extremadura       479                468          469
11               Galicia       506                485          486
12        Islas Baleares       480                472          471
13        Islas Canarias       473                463          447
14              La Rioja       500                487          493
15          Media España       485                474          473
16            Media OCDE       485                476          472
17               Melilla       414                405          404
18               Navarra       489                478          492
19            País Vasco       480                466          482
20           Promedio EU       484                475          474
21      Región de Murcia       482                468          463

In [70]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Comunidad Autónoma  22 non-null     object
 1   Ciencias            22 non-null     int64
 2   Habilidad lectora   22 non-null     int64
 3   Matemáticas         22 non-null     int64
dtypes: int64(3), object(1)
memory usage: 836.0+ bytes

In [71]:
# Guardamos como csv
result_df.to_csv("datos/resultados_pisa_2022_sin_limpieza.csv", index=False)

In [72]:
df_resultados_pisa = pd.read_csv("datos/resultados_pisa_2022_sin_limpieza.csv")

In [73]:
df_resultados_pisa

      Comunidad Autónoma  Ciencias  Habilidad lectora  Matemáticas
0              Andalucía       473                461          457
1                 Aragón       499                488          487
2               Asturias       503                497          495
3              Cantabria       504                494          495
4        Castilla y León       506                498          499
5     Castilla-La Mancha       475                468          464
6               Cataluña       477                462          469
7                  Ceuta       410                404          395
8   Comunidad Valenciana       483                482          473
9    Comunidad de Madrid       502                496          494
10           Extremadura       479                468          469
11               Galicia       506                485          486
12        Islas Baleares       480                472          471
13        Islas Canarias       473                463          447
14              La Rioja       500                487          493
15          Media España       485                474          473
16            Media OCDE       485                476          472
17               Melilla       414                405          404
18               Navarra       489                478          492
19            País Vasco       480                466          482
20           Promedio EU       484                475          474
21      Región de Murcia       482                468          463